debian/.debhelper/
debian/files
debian/lib*-java/
debian/*.log
debian/*.substvars
debian/maven-repo/
debian/stamp-maven-check
debian/stamp-poms-patched
*.xml.save
.travis.bintray.json
target/
.pc/
build/

